@use "../varibles" as *;
@use "../media" as *;

.cart {
  align-self: start;
  padding-top: 100px;
  display: none;

  &_open {
    display: flex;
  }

  @media (max-width: 1360px) {
    padding: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    height: 100vh;
  }

  @include mobile {
    height: auto;
    right: 14px;
  }

  &__container {
    border-radius: 32px;
    padding: 24px 16px;
    max-width: 100%;
    width: 310px;
    background-color: $white;
    min-height: 778px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1360px) {
      height: 100%;
    }

    @include mobile {
      min-height: 350px;
      width: 292px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__title {
    font-weight: 400;
    font-size: 28px;
  }

  &__close {
  }

  &__date-delivery {
    padding-left: 20px;
    background-image: url("/img/delivery.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    font-size: 14px;
    margin-bottom: 16px;

    @include mobile {
      font-size: 12px;
    }
  }

  &__list {
    margin-bottom: 24px;
    flex-grow: 1;
  }

  &__item {
    padding: 16px 0;
    border-bottom: 1px solid rgba($dark, 0.04);
    display: grid;
    grid-template-columns: 54px 1fr min-content;
    gap: 8px 12px;
    align-items: center;
    grid-template-areas:
      "image title title"
      "image counter price";

    &:last-child {
      border-bottom-color: transparent;
    }
  }

  &__img {
    align-self: start;
    grid-area: image;
    border-radius: 12px;
    width: 54px;
    height: 54px;
    object-fit: cover;
  }

  &__item-title {
    grid-area: title;
    font-weight: 400;
    font-size: 14px;
  }

  &__counter {
    grid-area: counter;
    display: flex;
    gap: 4px;
  }

  &__counter-btn {
    border-radius: 6px;
    width: 29px;
    height: 29px;
    background: $bg;
    font-size: 14px;
  }

  &__counter-input {
    font-size: 14px;
    width: 22px;
    padding: 0;
    border: 0;
    text-align: center;
    background-color: transparent;
    outline: 1px solid transparent;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }

    &:focus-visible {
      outline-color: $dark;
    }
  }

  &__price {
    grid-area: price;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__order-btn {
    border-radius: 32px;
    padding: 9px 16px 8px 16px;
    background: $light-orange;
    color: $white;

    &:disabled {
      background-color: $light-orange;
      opacity: 0.4;
    }
  }
}
