@use "../varibles" as *;
@use "../media" as *;

.order {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  background-color: rgba($dark, 0.5);
  padding: 20px 9px;

  &__wrapper {
    max-width: 624px;
    margin: auto;
    padding: 60px 32px;
    background-color: $white;
    border-radius: 32px;

    @include mobile {
      border-radius: 20px;
      padding: 32px 16px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;

    @include mobile {
      font-size: 20px;
      margin-bottom: 24px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
  }

  &__fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  &__legend {
    font-size: 18px;
    margin-bottom: 12px;

    @include mobile {
      font-size: 14px;
      margin-bottom: 4px;
    }
  }

  &__input-group {
    display: flex;
    gap: 12px;
    justify-content: space-between;

    @include mobile {
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  &__input {
    width: calc(50% - 6px);
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: $bg;

    @include mobile {
      width: 100%;
    }

    &_min {
      width: calc(25% - 9px);

      @include mobile {
        width: calc(50% - 4px);
      }
    }

    &:placeholder {
      color: rgba($dark, 0.3);
    }

    &:hover {
      background-color: $pattern;
    }

    &:focus-visible {
      outline: none;
      border-color: $light-orange;
    }
  }

  &__payment {
    margin-bottom: 12px;
  }

  &__label-radio {
    position: relative;
    display: inline-block;
    padding-left: 28px;
  }

  &__radio {
    position: absolute;
    appearance: none;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      display: block;
      border-radius: 50%;
      border: 1px solid $orange;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $orange;
      opacity: 0;
    }

    &:checked::after {
      opacity: 1;
    }
  }

  &__delivery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
  }

  &__select-wrapper {
    position: relative;
    width: min-content;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      display: block;
      width: 8px;
      height: 8px;
      background-image: url("/img/arrow-down.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      pointer-events: none;
      transition: transform 0.3s ease-in-out;
    }

    &_active:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__select {
    width: 190px;
    padding: 8px 40px 8px 16px;
    background: $bg;
    border-radius: 8px;
    appearance: none;
    border: 1px solid transparent;

    &:focus-visible {
      outline: none;
      border-color: $light-orange;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    border-radius: 32px;
    padding: 9px 16px 8px 16px;
    max-width: 274px;
    width: 100%;
    background-color: $light-orange;
    color: $white;
    border: 1px solid transparent;

    &:hover {
      background-color: $orange;
    }
    &:focus-visible {
      outline: none;
      border-color: $light-orange;
      background-color: $orange;
    }

    @include mobile {
      max-width: 169px;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
  }
}
