@use "../varibles" as *;
@use "../media" as *;

.subscribe {
  padding-top: 80px;
  padding-bottom: 140px;

  @include tablet {
    padding: 60px 0 100px;
  }

  &__title {
    font-family: $second-family;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: $green;
    margin-bottom: 40px;

    @include tablet {
      font-size: 32px;
      margin-bottom: 24px;
    }
  }

  &__form {
    position: relative;
    max-width: 524px;
    width: 100%;
    height: 40px;
    margin: 0 auto;
  }

  &__input {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    padding: 8px 56px 8px 16px;
    border: none;

    &::placeholder {
      color: rgba($dark, 0.3);
    }

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    background-color: $light-orange;
  }
}
