@use "/src/scss/varibles" as *;
@use "/src/scss/media" as *;

.order {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  background-color: rgba($dark, 0.5);
  padding: 20px 9px;
}

.wrapper {
  max-width: 624px;
  margin: auto;
  padding: 60px 32px;
  background-color: $white;
  border-radius: 32px;

  @include mobile {
    border-radius: 20px;
    padding: 32px 16px;
  }
}

.title {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;

  @include mobile {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.form {
  margin-bottom: 40px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
}
