@use "@scss/variables" as *;
@use "@scss/media" as *;

.choices {
  position: relative;
}

.select {
  display: flex;
  align-items: center;
  gap: 8px;

  &:after {
    content: "";
    width: 8px;
    height: 8px;
    background: url("/img/arrow.svg") no-repeat center/contain;
  }
}
