@use "@scss/variables" as *;
@use "@scss/media" as *;

.cart {
  align-self: start;
  padding-top: 100px;

  @media (max-width: 1360px) {
    padding: 0;
    position: fixed;
    z-index: 999;
    top: 50%;
    right: 27px;
    bottom: 0;
    min-height: 452px;
    height: 95vh;
    transform: translateY(-50%);
    overflow-y: auto;
    border-radius: 32px;
    box-shadow: $shadow-elevation-medium;
  }

  @include tablet {
    max-height: 650px;
  }

  @include mobile {
    height: auto;
    top: 0;
    right: 14px;
    transform: none;
  }
}

.container {
  padding: 24px 0 24px 16px;
  max-width: 100%;
  width: 310px;
  background-color: $white;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 1360px) {
    border-radius: 32px;
  }

  @include mobile {
    min-height: 350px;
    width: 292px;
  }
}

// fix scroll position
.header,
.date-delivery,
.footer {
  padding-right: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  font-weight: 400;
  font-size: 28px;
}

.date-delivery {
  padding-left: 20px;
  background-image: url("/img/delivery.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  font-size: 14px;
  margin-bottom: 16px;

  @include mobile {
    font-size: 12px;
  }
}

.list {
  margin-bottom: 24px;

  // fix scroll position
  padding-right: 16px;

  flex-grow: 1;
  overflow-y: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-btn {
  border-radius: 32px;
  padding: 9px 16px 8px 16px;
  background: $light-orange;
  color: $white;

  &:disabled {
    background-color: $light-orange;
    opacity: 0.4;
  }
}

.price {
  grid-area: price;
}
