@use "@scss/variables" as *;
@use "@scss/media" as *;

.goods {
  padding: 60px 0;

  @include tablet {
    padding: 40px 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.box {
  flex-grow: 1;
  max-width: 970px;
  min-height: 310px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 310px);
  margin: 0 auto;
  justify-content: center;
  gap: 24px 20px;

  @include tablet {
    grid-template-columns: repeat(2, minmax(140px, 1fr));
  }

  @include mobile {
    column-gap: 12px;
  }
}

.no-product {
  text-align: center;
  font-size: 24px;
  color: $green;
  grid-column: 1 / -1;
}
