@use "/src/scss/varibles" as *;
@use "/src/scss/media" as *;

.footer {
  padding: 80px 0;
  background: $footer url("/img/figure.svg") no-repeat;
  background-position: bottom;
  background-size: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @include tablet {
      gap: 40px;
    }
  }

  &__logo {
    width: 200px;
  }

  &__address {
    font-style: normal;
  }

  &__mail {
    display: inline-block;
    margin-bottom: 16px;
  }

  &__social-list {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 12px;
  }

  &__social {
  }

  &__developers-title {
    margin-bottom: 3px;
  }

  &__developers-list {
  }

  &__developers-item {
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__copyright {
    text-transform: uppercase;
  }
}
