$dark: #2e3514;
$green: #607900;
$orange: #d17d2f;
$white: #fff;
$light-orange: #f0a35b;
$footer: #e9ece0;
$bg: #f5f6f2;
$pattern: #f4f8eb;
$font-family: "Inter", sans-serif;
$second-family: "Playfair Display", sans-serif;

@mixin responsive-font-size($min-size, $max-size, $min-screen, $max-screen) {
  font-size: clamp(
    #{$min-size}px,
    calc(
      #{$min-size}px +
        (
          #{$max-size - $min-size} * ((100vw - #{$min-screen}px) /
                ($max-screen - $min-screen))
        )
    ),
    #{$max-size}px
  );
}
